<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
    <link rel="stylesheet" href="css/styles.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav th:replace="base :: nav"></nav>
<div class="container">
    <div class="mt-5">
    <h4 class="text-center pb-3">New User Registration</h4>
    <form autocomplete="off" th:action="@{/register}" th:object="${user}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            Profile Picture
            <input type="file" name="file"/>
            <small>Max size: 1 MB</small>
        </div>
        <div class="form-group">
            First Name
            <strong>
                <span th:if="${#fields.hasErrors('firstName')}"
                      th:errors="*{firstName}">First Name Error</span></strong>
            <input class="form-control" type="text" id="firstName" placeholder="First Name" th:field="*{firstName}"/><br/>
        </div>
        <div class="form-group">
            Last Name
            <strong>
                <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error</span>
                <input class="form-control" type="text" id="lastName" placeholder="Last Name" th:field="*{lastName}"/><br/>
            </strong>

        </div>

        <div class="form-group">
            Email
            <strong>
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</span>
                <input class="form-control" type="text" id="email" placeholder="Email" th:field="*{email}"/><br/>
            </strong>
        </div>

        <div class="form-group">
            Username
            <strong>
                <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</span>
                <input class="form-control" type="text" id="username" placeholder="Username" th:field="*{username}"/><br/>
            </strong>
        </div>

        <div class="form-group">
            Password
            <strong>
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span>
                <input class="form-control" type="text" id="password" placeholder="Password" th:field="*{password}"/><br/>
            </strong>
        </div>
        <button type="submit" class="btn btn-secondary">Submit</button>
    </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>