<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Message Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <nav th:replace="base :: navi"></nav>
    <div th:object="${message}" class="card">
        <img th:src="*{imageUrl}" class="card-img-top"/>
        <div class="card-body">
            <h2 th:text="*{title}" class="card-title"></h2>
            <span th:inline="text" class="card-subtitle mb-2 text-muted">Posted On: [[${message.postedDate}]] Posted By: [[${message.postedBy}]]</span><br/>
            <p th:text="*{content}" class="card-text"></p>
            <span th:if="${user.id == message.authorId}">
                <a class="btn btn-secondary" th:href="@{/update/{id}(id=${message.id})}">Update</a>
                <a class="btn btn-danger" th:href="@{/delete/{id}(id=${message.id})}">Delete</a>
            </span>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</div>
</body>
</html>