<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>[[${user.firstName}]]'s Profile</title>
    <link rel="stylesheet" href="css/styles.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <nav th:replace="base :: navi"></nav>
    <div class="jumbotron text-center">
        <img th:src="${profileUser.profileImg}" class="img-thumbnail" width="200px" height="200px"/>
        <h2 th:inline="text">[[${profileUser.firstName}]] [[${profileUser.lastName}]]</h2>
    </div>
    <div class="row mt-3" th:each="message : ${messages}">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card" style="width: 100%;">
                <img th:src="${message.imageUrl}" class="card-img-top" alt="image of message">
                <div class="card-body">
                    <h5 class="card-title" th:text="${message.title}"></h5>
                    <p class="card-text" th:text="${message.content}"></p>
                    <a class="btn btn-primary" th:href="@{/view/{id}(id=${message.id})}">View</a>
                    <span th:if="${user.id == message.authorId}">
                        <a class="btn btn-secondary" th:href="@{/update/{id}(id=${message.id})}">Update</a>
                        <a class="btn btn-danger" th:href="@{/delete/{id}(id=${message.id})}">Delete</a>
                    </span>
                </div>
                <div class="card-footer text-muted pt-2">
                    <label for="posted">Posted On: </label>
                    <small id="posted" th:text="${message.postedDate}"></small>
                    <label for="by">By: </label>
                    <a id="by" th:text="${message.postedBy}" th:href="@{/profile/{id}(id=${message.authorId})}"></a>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>